<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
    <script src="~/Scripts/javazz.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxy/1.6.1/scripts/jquery.ajaxy.min.js" integrity="sha512-bztGAvCE/3+a1Oh0gUro7BHukf6v7zpzrAb3ReWAVrt+bVNNphcl2tDTKCBr5zk7iEDmQ2Bv401fX3jeVXGIcA==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/Content/Adminxx.css" media="all" />

    <script src="~/Areas/Admin/ckeditor/ckeditor.js"></script>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <style>
        
        .tble {
            padding:10px;
            overflow:hidden;
            overflow-y:scroll;
            height:200px;
        }
        .tabletype {
            width: 100%;
            border-right: 1px solid rgba(0,0,0,0.5);
            border-left: 1px solid rgba(0,0,0,0.5);
        }
        .table-he {
            height:30px !important;
            background-color: #eeba10;
            color:#000000;
        }
        .input {
            padding:10px;
            
        }
        .input form input {
            border:1px solid #eeba10;
            outline-color:#eeba10;
        }
        .input .btn-add {
            border:none;
            background:#eeba10;
            color:#000000;
            font-weight:bold;
            cursor:pointer;

        }
        .btn-close {
            background:none;
            border:none;
            font-size:20px;
            cursor:pointer;
            position:absolute;
            top:10px;
            right:10px;
        }
    </style>
    <div class="adminpage">
        <div class="menubar">
            <div class="content"><div class="logo-cv"></div></div>
            @*<div class="btn-bar"><a href="#">Course</a></div>
        <div class="btn-bar"><a href="#">exam</a></div>
        <div class="btn-bar"><a href="#">faqs</a></div>
        <div class="btn-bar"><a href="#">grade</a></div>
        <div class="btn-bar"><a href="#">history course</a></div>
        <div class="btn-bar"><a href="#">post admin</a></div>
        <div class="btn-bar"><a href="#">Student</a></div>
        <div class="btn-bar"><a href="#">feedback</a></div>
        <div class="btn-bar"><a href="#">teacher</a></div>
        <div class="btn-bar"><a href="#">Type</a></div>*@
            <button class="accordion"><a href="@Url.Action("Course")">Course</a></button>
            <div class="panel">
                <button class="btn-sub"><a href="@Url.Action("ViewCourse")">View</a></button>
            </div>
            <button class="accordion"><a href="@Url.Action("Exam")">Exam</a></button>
            <div class="panel">
                <button class="btn-sub"><a href="@Url.Action("ViewExam")">View</a></button>
            </div>
            <button class="accordion1"><a href="@Url.Action("ViewStudent")">Student</a></button>

            <button class="accordion"><a href="@Url.Action("Teacher")">Teacher</a></button>
            <div class="panel">
                <button class="btn-sub"><a href="@Url.Action("ViewTeacher")">View</a></button>
            </div>
            <button class="accordion1"><a href="@Url.Action("Feedback")">Feedback</a></button>
            <button class="accordion1"><a href="@Url.Action("RegisterCourse")">Register Request</a></button>

            <button class="accordion"><a href="@Url.Action("PostAdmin")">Post</a></button>
            <div class="panel">
                <button class="btn-sub"><a href="@Url.Action("ViewPostAdmin")">View</a></button>
            </div>
            <button class="accordion"><a href="#">History</a></button>
            <div class="panel">
                <button class="btn-sub"><a href="@Url.Action("HistoryExam")">Exam</a></button>
                <button class="btn-sub"><a href="@Url.Action("HistoryCourse")">Course</a></button>
            </div>
            <button class="accordion1"><a href="@Url.Action("Type")">Type </a></button>

            <button class="accordion"><a href="@Url.Action("FAQ")">FAQ</a></button>
            <div class="panel">
                <button class="btn-sub"><a href="@Url.Action("ViewFAQ")">View</a></button>
            </div>
        </div>
        <div class="content-admin">
            <div class="admin-manage">
                @RenderBody()
            </div>
        </div>
    </div>
    <script>
        var loadFile = function (event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        };

    </script>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
        $('#btn-add-type').click(function () {
            var pop = $('.pop-Type');
            pop.css("display", "block");
        })
        $('.btn-close').click(function () {
            var pop = $('.pop-Type');
            pop.css("display", "none");
        })

    </script>
</body>
</html>
