<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/stylessss.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
    <script src="~/Scripts/javazzx.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxy/1.6.1/scripts/jquery.ajaxy.min.js" integrity="sha512-bztGAvCE/3+a1Oh0gUro7BHukf6v7zpzrAb3ReWAVrt+bVNNphcl2tDTKCBr5zk7iEDmQ2Bv401fX3jeVXGIcA==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/Content/stylestars.css">
    
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <style>
        body {
            overflow-x: hidden;
        }

        .container-fluid {
            padding: 0;
            margin: 0;
        }

        .menudrop2 li a {
            text-decoration: none;
            color: #808080;
            transition: 0.5s;
        }

        .menudrop2 li:hover > a {
            color: white;
        }
        .menudrop2 li a:hover > .bxs-bell {
            color: white;
        }

        .menudrop li a {
            text-decoration: none;
            color: #808080;
            transition: 0.5s;
        }

        .menudrop li:hover > a {
            color: white;
        }
        .menudrop li a:hover > .bxs-bell {
            color: white;
        }
        .ToTop {
            width: 40px;
            height: 40px;
            background-color: #eeba10;
            position: absolute;
            right: 2%;
            bottom: 5%;
            position: fixed;
            z-index: 99;
            border: none;
            outline: none;
            cursor: pointer;
            color: white;
            font-weight: bolder;
            opacity: 0.8;
        }
        @*drop*@
        .dropbtn {
            background-color: none;
            color: white;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown-bs {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            left:0;
        }

        .dropdown-content a {
            color: black;
            text-decoration: none;
            display: block;
            font-size:14px;
        }

        .dropdown-content a:hover {
            background-color: #808080;
            color:azure;
        }

        .dropdown-bs:hover .dropdown-content {
            display: block;
        }

        .dropdown-bs:hover .dropbtn {
            background-color: none;
        }
        @*drop bell*@
        .dropbtn-bell {
            background-color: none;
            color: white;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown-bs-bell {
            position: relative;
            display: inline-block;
        }

        .dropdown-content-bell {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            left: 0;
            overflow:hidden;
            overflow-y:auto
        }

        .dropdown-content-bell a {
            color: black;
            text-decoration: none;
            display: block;
            font-size: 14px;
        }

        .dropdown-content-bell a:hover {
            background-color: #808080;
            color: azure;
        }

        .dropdown-bs-bell:hover .dropdown-content-bell {
            left:-362px;
            display: block;
            width:400px;
            height:600px;
        }

        .dropdown-bs-bell:hover .dropbtn-bell {
            background-color: none;
        }
     
    </style>
    <button class="ToTop">TOP</button>
    <div class="header" id="header">
        <div class="heading" id="heading">
            <div class="logo">
                <img src="~/Upload/logo/LogoSL.png" alt="">
            </div>
            <div class="loginbtn">
                @if (@Session["login"] != null)
                {
                <div>@Session["login"]</div>
                }
                else
                {
                    <div>LOGIN</div>
                }

            </div>
        </div>
        <div class="title-cv" id="title-cv">
            <span class="title">Welcome to <br> Symphony Limited</span>
            <br>
            <span class="subtitle">The Best place for learning</span>
        </div>
        <div class="menubar2">
            <div class="logo2">
                <img src="~/Upload/logo/LogoSL.png" alt="">
            </div>
            <ul class="menudrop2">
                <li><a href="@Url.Action("Index")">home</a></li>
                <li><a href="@Url.Action("AboutUs")">about</a></li>
                <li><a href="@Url.Action("FAQ")">faq</a></li>
                <li><a href="@Url.Action("Forum")">Forum</a></li>
                <li class="dropdown-bs">
                    @if (@Session["login"] != null)
                    {
                        <a class="dropbtn" href="@Url.Action("LoginNRegister")">@Session["login"]</a>
                        <div class="dropdown-content">
                            <a href="#">Account Setting</a>
                            <a href="#">Log Out</a>
                        </div>
                    }
                    else
                    {
                        <a href="@Url.Action("LoginNRegister")">login</a>
                    }
                </li>
                @if (Session["login"] != null)
                {
                    <li class="dropdown-bs-bell">
                        <a class="dropbtn-bell" href="#"><i class='bx bxs-bell' style='color:#808080;font-size:18px;'></i></a>
                        <div class="dropdown-content-bell">
                            @*vong lap thong bao*@
                            <a href="#"></a>
                            @*done*@
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="menubar">
        <button onclick="clicktoinmenu()"><img src="~/Upload/icon/menuicon.png" alt=""></button>
        <ul class="menudrop" id="menudrop">
            <button onclick="clicktooutmenu()"><img src="~/Upload/icon/xicon.png" width="50" alt="Alternate Text" /></button>
            <li><a href="@Url.Action("Index")">home</a></li>
            <li><a href="@Url.Action("AboutUs")">about</a></li>
            <li><a href="@Url.Action("FAQ")">faq</a></li>
            <li><a href="@Url.Action("Forum")">Forum</a></li>
            <li>
                @if (@Session["login"] != null)
                {
                    <a href="@Url.Action("LoginNRegister")">@Session["login"]</a>

                }
                else
                {
                    <a href="@Url.Action("LoginNRegister")">login</a>
                }
            </li>
            @if (Session["login"] != null)
            {
                <li><a href="@Url.Action("Forum")">Account Setting</a></li>
                <li><a href="@Url.Action("Forum")">Logout</a></li>
            }
            <li><a href="#"><i class='bx bxs-bell' style='color:#808080;font-size:18px;'></i></a></li>
        </ul>
    </div>
    <div>
        @RenderBody()
    </div>
    <br />
    <br />
    <div class="container-fluid footers">
        <div class="row">
            <div class="footer1 col">
                <ul>
                    <li class="head-li">Menu</li>
                    <br />
                    <li>Home</li>
                    <li>About</li>
                    <li>Contact</li>
                    <li>Exame</li>
                    <li>Courses</li>
                </ul>
            </div>
            <div class="footer1 col">
                <ul>
                    <li class="head-li">Usefull Links</li>
                    <br>
                    <li>Test IQ</li>
                    <li>FAQ</li>
                    <li>Community</li>
                    <li>Campus Picture</li>
                    <li>Benefits</li>
                </ul>
            </div>
            <div class="footer1 col">

                <ul>
                    <li class="head-li">Contact</li>
                    <br>
                    <li>facebook.com/helloworld</li>
                    <li>+84 98899889</li>
                    <li>helloworld@gmail.com</li>
                    <li>Aptech Education, Q1, TP.HCM</li>
                    <li>Aptech Education, Q3, TP.HCM</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="copyright">Copyright 2021 - D e s i g n b y Q u h u</div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
        TweenMax.to('.circle-container', 15, { rotation: 360, ease: Power0.easeNone, repeat: -1 });
        TweenMax.to('.circle-container2', 60, { rotation: 360, ease: Power0.easeNone, repeat: -1 });
        TweenMax.to('.circle-container3', 30, { rotation: 360, ease: Power0.easeNone, repeat: -1 });
        TweenMax.to('.circle-container4', 50, { rotation: 360, ease: Power0.easeNone, repeat: -1 });
        TweenMax.to('.book', 25, { rotation: 360, ease: Power0.easeNone, repeat: -1 });
        TweenMax.to('.book2', 5, { rotation: 360, ease: Power0.easeNone, repeat: -1 });
        TweenMax.to('.book3', 10, { rotation: 360, ease: Power0.easeNone, repeat: -1 });
        TweenMax.to('.book4', 20, { rotation: 360, ease: Power0.easeNone, repeat: -1 });
        TweenMax.to('.book5', 15, { rotation: 360, ease: Power0.easeNone, repeat: -1 });

        // scroll to animate img
        $(Document).ready(function () {
            $(window).scroll(function () {
                $('.slideup').each(function () {
                    var x = $(this).offset().top;
                    var y = $(window).scrollTop();
                    if (x < y + 550) {
                        $(this).addClass("slide");
                    }
                });
            });
        })

        $(".items").slice(0, 3).show();
        $(".LoadMore").on("click", function () {
            $(".items:hidden").slice(0, 3).show();
            if ($(".items:hidden").length == 0) {
                $(".LoadMore").fadeOut();
            }
        });
        $(".items2").slice(0, 3).show();
        $(".LoadMore2").on("click", function () {
            $(".items2:hidden").slice(0, 3).show();
            if ($(".items2:hidden").length == 0) {
                $(".LoadMore2").fadeOut();
            }
        });
        $(".items3").slice(0, 3).show();
        $(".LoadMore3").on("click", function () {
            $(".items3:hidden").slice(0, 3).show();
            if ($(".items3:hidden").length == 0) {
                $(".LoadMore3").fadeOut();
            }
        });

       
        /*header scroll*/
        window.onscroll = function sc() {
            if (scrollY > 700) {
                $(".header").css({ "background-color": "white" });
            }
            else {
                $(".header").css({ "background-color": "rgba(255,255,255,0.3)" });
            }

        }
        $('.ToTop').click(function () {
            $('html,body').animate({ scrollTop: 0 }, 800);
        });





        function clicktoinmenu() {
            var dropmenu = document.getElementById('menudrop');
            dropmenu.style.marginRight = '500px';
        }

        function clicktooutmenu() {
            var dropmenu2 = document.getElementById('menudrop');
            dropmenu2.style.marginRight = '-520px';
        }
    </script>
</body>

</html>
