
@{
    ViewBag.Title = "Exame";
    Layout = "~/Views/Shared/HomePage.cshtml";
}

<style>
    form {
        position:relative;
    }
    .rule-box {
        position:absolute;
        height:100%;
        width:100%;
        top:0;
        background:white;
    }
    .rule {
        margin-right:auto;
        margin-left:auto;
        text-align:center;
        margin-top:5%;
        font-weight:bolder;
        font-size:25px;
    }
    
</style>
<link rel="stylesheet" href="~/Content/Examx.css" media="all" />
<div class="container-fluid">
    <div class="row sub-head"></div>
    <div class="row quizs">
        <div class="container">
            <div class="quizContainer">
                <div class="Timer">Time:00:00:00</div>
                <div class="Timers">Time:00:00:00</div>
                <form action="@Url.Action("Score")" method="post">
                    <div class="rule-box" id="rule-box">
                        <div class="rule">♥ Students Answer 10 questions.</div>
                        <div class="rule">♥ In 10 minutes.</div>
                        <div class="rule">♥ If correct 6 or more questions will pass.</div>

                    </div>
                    <div class="answer-box" id="question">
                        @foreach (var item in ViewBag.listexam)
                        {
                            <ul class="choiceList">
                                <div class="question">Question:@item.question?</div>
                                <li> <input type="radio" id="@item.ID" class="answer" name="@item.ID" value="A" /> @item.answerA </li>
                                <li> <input type="radio" id="@item.ID" class="answer" name="@item.ID" value="B" />@item.answerB </li>
                                <li> <input type="radio" id="@item.ID" class="answer" name="@item.ID" value="C" /> @item.answerC</li>
                                <li> <input type="radio" id="@item.ID" class="answer" name="@item.ID" value="D" /> @item.answerD </li>
                                <li hidden> <input type="radio" id="@item.correct" class="answer" name="@item.correct" value="@item.answercorrect" /></li>
                            </ul>
                        }
                    </div>
                    <input hidden type="text" name="total" id="total" />
                    <div class="btn-sub"><button id="btn-continue" type="submit">continute</button></div>
                </form>
                <div class="result" id="myresults"></div>
                <div class="btn-sub"><button id="btn-sub" onclick="getscore()">Submit</button></div>
                <br />
                <div class="btn-start"><button id="btn-start" onclick="timedCount()">Start</button></div>
            </div>
        </div>
    </div>
</div>
<script>
    function getscore() {
        var q = document.getElementById("question").childElementCount;
        var total = 0;
        var correct = "correct"
        for (var i = 1; i <= q; i++) {
            var z = String(i);
            var corrects = correct + z;
            var check = document.getElementById(corrects).value;
            var rates = document.getElementsByName(z);
            var rate_value;
            for (var j = 0; j < rates.length; j++) {
                if (rates[j].checked) {
                    rate_value = rates[j].value;
                    if (rate_value == check) {
                        total++
                    }
                }
            }
        }
        @*document.getElementById("total").value = total;*@
        $("#myresults").html(total + "/10");

    }
</script>
<script>

    var c = 10;
    var t;
    var btnsub = document.getElementById('btn-sub');
    var btnstart = document.getElementById('btn-start');
    var btnconti = document.getElementById('btn-continue');
    var rule = document.getElementById('rule-box');
    var resultss = document.getElementById('myresults');
    function timedCount() {

        if (c == 185) {
            return false;
        }

        var hours = parseInt(c / 3600) % 24;
        var minutes = parseInt(c / 60) % 60;
        var seconds = c % 60;
        var result = (hours < 10 ? "0" + hours : hours) + ":" + (minutes < 10 ? "0" + minutes : minutes) + ":" + (seconds < 10 ? "0" + seconds : seconds);
        $('.Timer').html("Time:" + result);

        if (c == 0) {
            $('.Timer').html("Time Out!");
            $('#myresults').css("display", "block");
            getscore();

        } else {

            c = c - 1;
            t = setTimeout(function () {
                timedCount();
            }, 1000);
        }



        btnstart.style.display = 'none';

    }
    $('#btn-start').click(function () {
        btnsub.style.display = 'block';
        rule.style.display = 'none';
    });
    $('#btn-sub').click(function () {
        btnsub.style.display = 'none';
        $('.Timer').css("display", "none");
        $('.Timers').css("display", "block");
        $('.Timers').html("Complete! ♥");
        $('#myresults').css("display", "block");
        btnconti.style.display = 'block';
    });






</script>

