
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/HomePage.cshtml";
}
<link rel="stylesheet" href="~/Content/FAQzzs.css" media="all" />

<div class="container-fluid">
    <div class="row sub-head"></div>
    <div class="row offer-faq">
        <div class="col"><div><span>Can i help you?</span></div></div>
        <div class="col"><img src="~/Upload/PNG/canihelpu.png" style="width:60%" alt="Alternate Text" /></div>
    </div>
    <div class="container">
        <div class="row searchbar">
            <div class="searchbar-ins"><input type="text" value="" placeholder="What do you need?" data-search /><button><img width="30" src="~/Upload/icon/iconsearch.png" alt="Alternate Text" /></button></div>
        </div>
        <br />
        @*
        @foreach (var item in ViewBag.listfaq)
        {
            <div class="row items">
                <div class="row question-box ">
                    <div class="questions" data-filter-item data-filter-name="oke baby">@item.question</div>
                    <button><img width="25" src="~/Upload/icon/down.png" id="btn-down" alt="Alternate Text" /></button>

                    <div class="Answer" id="answer">
                        <div class="answer-content">
                            <p class="content-question" id="contentfaq">
                                @Html.Raw(@item.answer)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }*@


        @foreach (var item in ViewBag.listfaq)
        {
            <div  data-filter-item data-filter-name="@item.question" class="faq-content">
                <button  data-filter-item data-filter-name="@item.question" class="accordion">@item.question</button>
                <div class="panel">
                    <p id="Answeroke">@Html.Raw(@item.answer)</p>
                </div>
            </div>
            
        }


    </div>
</div>
<script>
    $('[data-search]').on('keyup', function () {
        var searchVal = $(this).val();
        var filterItems = $('[data-filter-item]');

        if (searchVal != '') {
            filterItems.addClass('hidden');
            $('[data-filter-item][data-filter-name*="' + searchVal.toLowerCase() + '"]').removeClass('hidden');
        } else {
            filterItems.removeClass('hidden');
        }
    });

    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            var ans = document.getElementById('Answeroke').offsetHeight;

            if (panel.style.height === ans + 'px') {
                panel.style.height = "0px";
                
            } else {
                panel.style.height = ans + 'px';
            }
        });
    }
</script>

