
@{
    ViewBag.Title = "EditTeacher";
    Layout = "~/Areas/Admin/Views/Shared/AdminPage.cshtml";
}

<link rel="stylesheet" href="~/Content/Adminx.css" media="all" />
<style>
    .Course-cv {
        height: 880px;
        overflow-y: scroll;
    }
</style>
<div class="container-fluid ">
    <div class="row Course-cv">
        <div class="col left-input">
            <div class="container Exam-cv">
                @foreach (var item in ViewBag.listtea)
                {
                    <form method="post" action="@Url.Action("Updateteacher")" enctype="multipart/form-data">
                        <input type="hidden" value="@item.ID" name="idtea" />
                        <input type="text" required name="fullname" value="@item.fullname" placeholder="Full Name " />
                        <br />
                        <input type="text" required name="age" value="@item.age" placeholder="Age" />
                        <br />

                        <input type="email" required name="email" value="@item.email" placeholder="Email" />
                        <br />

                        <input type="text" required name="phone" value="@item.phone" placeholder="Phone" />
                        <br />
                        <input type="text" required name="profess" value="@item.professtional" placeholder="Professional" />
                        <br />
                        <input type="date" required name="birthday" value="@item.birthday" placeholder="Birthday" />
                        <br />

                        <select name="gender">
                            
                            <option required disabled selected hidden>Select Correct Gender</option>
                            @if (item.gender == "Male")
                            {
                                     <option required selected>Male</option>
                                        <option required>Female</option>
                            }
                             @if (item.gender == "Female")
                            {
                                     <option required>Male</option>
                                     <option required selected>Female</option>
                            }
                       
                        </select>
                        <br />
                        <img id="output" class="img" src="~/Upload/imgteacher/@item.img" />
                        <p><input type="file" accept="image/*" name="myimg" id="myimg" onchange="loadFile(event)" style="display: none;"></p>
                        <p><label for="myimg" style="cursor: pointer; border:1px solid #eeba10; background-color:#eeba10;width:150px;height:40px;padding:9px;font-weight:bold;">Upload Image<i style="font-size:18px;margin-left:5px;" class='bx bx-upload'></i></label></p>
                        <span style="font-size:18px;font-weight:bold;">History</span>
                        <textarea class="Content" name="content" id="content" placeholder="Content">@item.content</textarea>
                        <br />
                        <br />

                        <button type="submit">UPDATE</button>
                    </form>
                }

            </div>

        </div>

    </div>
</div>
<script>
    CKEDITOR.replace('content', {
        heigth: 700,
        width: 100 + '%'
    });
</script>




