
@{
    ViewBag.Title = "Feedback";
    Layout = "~/Areas/Admin/Views/Shared/AdminPage.cshtml";
}

<link rel="stylesheet" href="~/Content/Adminxx.css" media="all" />
<style>
    .CourseView {
        width: 110%;
        overflow-x: scroll;
    }

    .popup-his {
        width: 40%;
        height: 50%;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
        position: absolute;
        top: 20%;
        margin-left: 20%;
        padding: 20px;
        font-weight: bold;
        border-radius: 5px;
        display: none;
        position: fixed;
        overflow:hidden;
        overflow-y:auto;
    }

    .popup-his button {
        background: none;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .popup-his button i {
        font-weight: bold;
        font-size: 20px;
    }

    .his-box {
        position: relative;
    }

    .his-box .profile {
        margin-top: 30px;
    }

    .img-teacher {
        height: 200px;
        width: 200px;
    }

    .history-in {
        width: 100%;
        height: 130px;
    }
    table {
        width:100%;
    }
    .popup-his form input {
        outline-color: #eeba10;
        color:#808080;
    }
    .message-usr {
        background:#bdbdbd;
        border-radius:10px;
        padding:10px;
    }
</style>
<div class="container-fluid CourseView">
    <div class="popup-his container-fluid">
        <div class="his-box">
            <div class="row">
                <button class="btn-close"><i class='bx bx-x '></i></button>
            </div>
            <form method="post" action="">
                <input type="text" value="" placeholder="To Email" />
                <input type="text" value="" placeholder="Title" />
                <br />
                <br />
                <textarea name="content-send">
                </textarea>
                <br />
                <input type="submit" value="Send" />
            </form>
            <div class="row profile">
                @foreach (var items in ViewBag.listfeed)
                {
                    <div class="col history-in">
                        <div>From: @items.email</div>
                        <div class="message-usr">@items.message</div>
                    </div>
                }

            </div>
        </div>
    </div>
    <div class="row ">
        <input class="srcbar" type="text" value="" id="myInput" onkeyup="myFunction()" placeholder="Search" />
        <section>
            <!--for demo wrap-->
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Title</th>
                            <th>Mail</th>
                            <th>Date</th>
                            <th>Message</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody id="myTable">
                        @foreach (var item in ViewBag.listfeed)
                        {
                            <tr>
                                <td>@item.fullname</td>
                                <td>@item.title</td>
                                <td style="text-transform:lowercase" >@item.email</td>
                                <td>@item.receiveddate</td>
                                <td><a href="#" class="btn-detail" style="text-decoration:none;color:#000000">Detail</a></td>
                                <td><a class="btn-edit" href="@Url.Action("Removefeedback", new { idfeed=@item.ID })"><i style="font-size:30px" class='bx bxs-message-square-x'></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
    $('.btn-detail').click(function () {
        var pop = $('.popup-his');
        pop.css("display", "block");
    });
    $('.btn-close').click(function () {
        var pop = $('.popup-his');
        pop.css("display", "none");
    });

    CKEDITOR.replace('content-send', {
        heigth: 500,
        width: 100 + '%'
    });
</script>




